#right_column.right_column
  %h2= "Formulario para Nuevos Alumnos"

  = form_for(@alumno) do |f|
    %p
      = f.label :dni, "Dni"
      = f.text_field :dni, :placeholder => "DNI"
    %p
      = f.label :nombre, "Nombre"
      = f.text_field :nombre, :placeholder => "Nombre"
    %p
      = f.label :apellidos, "Apellidos"
      = f.text_field :apellidos, :placeholder => "Apellidos"

    %p
      = f.label :profesor, "Profesor"
      = f.select :profesor_id, options_for_select(@profesors.map{|t| [t.nombre, t.id, :title => t.nombre]}), {}, {:class => ''}

    %p
      = f.label :grupo, "Grupo"
      = f.select :grupo_id, options_for_select(@grupos.map{|t| [t.nombre, t.id, :title => t.nombre]}), {}, {:class => ''}



    = link_to("", :class => 'btn', :onclick => "$('#submit_alumno').click()", :remote => true) do
      ="Guardar"

    = f.submit "", :style => 'display:none' ,:id => 'submit_alumno'