#right_column_for_alumnos.right_column
  %h2= "Modificacion de Alumno"

  %table.table_fow_window_in_holder
    %tr
      %th="Matricula"
      %th="DNI"
      %th="Nombre"
      %th="Apellidos"
      %th="TFG"
      %th="Profesor"
      %th="Grupo"

    - for alumno in @alumnos
      %tr
        = form_for(alumno) do |f|
      
          %td= f.text_field :id, :placeholder => "Nº Matricula", :disabled => true
          %td= f.text_field :dni, :placeholder => "DNI"
          %td= f.text_field :nombre, :placeholder => "Nombre"
          %td= f.text_field :apellidos, :placeholder => "Apellidos"

          %td= f.text_field :tfg, :placeholder => "No Disponible", :value => (!alumno.tfg.blank? ? alumno.tfg.tema : nil), :disabled => true

          
          %td= f.text_field :profesor, :placeholder => "No Disponible", :value => (!alumno.profesor.blank? ? alumno.profesor.nombre : nil), :disabled => true

          %td= f.text_field :grupo, :placeholder => "Ninguno", :value => (!alumno.grupo.blank? ? alumno.grupo.nombre : nil), :disabled => true         

          %td
            = link_to("", :class => 'btn', :onclick => "$('#submit_alumno_#{alumno.id}').click()", :remote => true) do
              ="Guardar"
            = f.submit "", :style => 'display:block' ,:id => "submit_alumno_#{alumno.id}"
          %td
            = link_to(alumno_path(alumno), :method => :delete, :class => 'btn', :confirm => "¿Desea eliminar el objeto?") do
              ="Eliminar"
