#right_column_for_alumnos.right_column
  %h2= "Modificacion de Profesor"

  %table.table_fow_window_in_holder
    %tr
      %th="ID"
      %th="DNI"
      %th="Nombre"
      %th="Apellidos"
      %th="Domicilio"

    - if !@profesors.blank?
      - for profesor in @profesors
        %tr
          = form_for(profesor) do |f|
        
            %td= f.text_field :id, :placeholder => "ID", :disabled => true, :style => 'width: 25px;'
            %td= f.text_field :dni, :placeholder => "DNI"
            %td= f.text_field :nombre, :placeholder => "Nombre"
            %td= f.text_field :apellidos, :placeholder => "Apellidos"
            %td= f.text_field :domicilio, :placeholder => "Domicilio"
            %td
              = link_to("", :class => 'btn', :onclick => "$('#submit_profesor_#{profesor.id}').click()", :remote => true) do
                ="Guardar"
              = f.submit "", :style => 'display:block' ,:id => "submit_profesor_#{profesor.id}"
            %td
              = link_to(profesor_path(profesor), :method => :delete, :class => 'btn', :confirm => "¿Desea eliminar el objeto?") do
                ="Eliminar"
