#right_column.right_column
  %h2= "Formulario para Nuevo Trabajo Fin de Grado"

  = form_for(@tfg) do |f|
    %p
      = f.label :tema, "Tema"
      = f.text_field :tema, :placeholder => "Tema"

      = f.text_field :fecha_comienzo, :style => 'display:none', :value => Time.now

    %p
      = f.label :alumno, "Alumno"
      = f.select :alumno_id, options_for_select(@alumnos.map{|t| [t.nombre, t.id, :title => t.nombre]}), {}, {:class => ''}

    = link_to("", :class => 'btn', :onclick => "$('#submit_alumno').click()", :remote => true) do
      ="Guardar"

    = f.submit "", :style => 'display:none' ,:id => 'submit_alumno'

  ="Nota: La fecha de comienzo es la fecha actual"