#right_column_for_alumnos.right_column
  %h2= "Modificacion de Trabajos de Fin de Grado"

  %table.table_fow_window_in_holder
    %tr
      %th="Nª Orden"
      %th="Tema"
      %th="Fecha Comienzo"
      %th="Alumno"
    
    - if !@tfgs.blank?
      - for tfg in @tfgs
        %tr
          = form_for(tfg) do |f|
        
            %td= f.text_field :id, :placeholder => "Nª Orden", :disabled => true
            %td= f.text_field :tema, :placeholder => "DNI"
            %td= f.text_field :fecha_comienzo, :placeholder => "Fecha Comienzo"
            
            %td= f.text_field :alumno, :placeholder => "No Disponible", :value => (!tfg.alumno.blank? ? tfg.alumno.nombre : nil), :disabled => true 

            %td
              = link_to("", :class => 'btn', :onclick => "$('#submit_tfg_#{tfg.id}').click()", :remote => true) do
                ="Guardar"
              = f.submit "", :style => 'display:block' ,:id => "submit_tfg_#{tfg.id}"
            %td
              = link_to(tfg_path(tfg), :method => :delete, :class => 'btn', :confirm => "¿Desea eliminar el objeto?") do
                ="Eliminar"
