.full_container
  .window
    = render :partial => 'application/header_window', :locals => {:title => 'TFG Manager 3.1'}

    #alumnos.icon{:onclick => "selected($('#alumnos'))", :ondblclick => "$.getScript('#{show_in_holder_alumnos_path}')"}
      .fa.fa-rocket.alumnos
      .title="Alumnos"

    #profesores.icon{:onclick => "selected($('#profesores'))", :ondblclick => "$.getScript('#{show_in_holder_profesors_path}')"}
      .fa.fa-briefcase.profesores
      .title="Profesores"

    #tfg.icon{:onclick => "selected($('#tfg'))", :ondblclick => "$.getScript('#{show_in_holder_tfgs_path}')"}
      .fa.fa-file.tfg
      .title="Trabajos Fin de Grado"

    #tribunales.icon{:onclick => "selected($('#tribunales'))", :ondblclick => "$.getScript('#{show_in_holder_tribunals_path}')"}
      .fa.fa-gavel.tribunales
      .title="Tribunales"

    #investigacion.icon{:onclick => "selected($('#investigacion'))", :ondblclick => "$.getScript('#{show_in_holder_grupos_path}')"}
      .fa.fa-group.investigacion
      .title="Grupos de Investigación"

    #listados.icon{:onclick => "selected($('#listados'))", :ondblclick => "$.getScript('#{show_in_holder_alumnos_path}')"}
      .fa.fa-folder.listados
      .title="Listados"

  #place_for_window_in_holder

    / Cuando lances una ventana, tienes que montar esta estructura
    - if false
      .container
        .window_in_holder.window
          = render :partial => 'application/header_window', :locals => {:title => 'Alumnos', :close => 'alumnos'}


:javascript
  function selected(id) {
    $('.icon').removeClass('selected');
    id.addClass('selected');
  }

  function deselect() {
    $('.icon').removeClass('selected');
  }


