#right_column.right_column
  %h2= "Formulario para Nuevo Grupo"

  = form_for(@grupo) do |f|
    %p
      = f.label :nombre, "Nombre"
      = f.text_field :nombre, :placeholder => "Nombre"


    = link_to("", :class => 'btn', :onclick => "$('#submit_grupo').click()", :remote => true) do
      ="Guardar"

    = f.submit "", :style => 'display:none' ,:id => 'submit_grupo'
