#right_column.right_column
  %h2= "Formulario para Nuevo Grupo"

  = form_for(@grupo) do |f|
    %p
      = f.label :nombre, "Nombre"
      = f.text_field :nombre, :placeholder => "Nombre"

    %p
      - for alumno in @alumnos
        .checkbox_zone=check_box_tag "grupo[alumno_ids][]", alumno.id, false
        .name_zone=alumno.nombre

    = link_to("", :class => 'btn', :id => "link_to_submit_grupo", :remote => true) do
      ="Guardar"

    = f.submit "", :style => 'display:none' ,:id => 'submit_grupo'


  :javascript
    // Comprueba si hay algún alumno seleccionado
    // Si es así, manda el formulario
    $('#link_to_submit_grupo').click( function() {
      $(':checkbox').each(function(){
          if ($(this).is(':checked')) {
            $('#submit_grupo').click()
          }
      });
    })