#right_column_for_alumnos.right_column.overflow
  %h2= "Modificacion de Grupos de Investigacion"

  .box_for_modificar
    - if !@grupos.blank?
      - for grupo in @grupos
        = form_for(grupo) do |f|
      
          .box_fila
            .space_label= f.label :id, "Nº Grupo"
            = f.text_field :id, :placeholder => "Nº Grupo", :disabled => true

          .box_fila
            .space_label= f.label :nombre, "Nombre"
            = f.text_field :nombre, :placeholder => "Nombre", :style => 'width: 120px'

          .box_fila
            .space_label= f.label :num_componetes, "Componentes"
            = f.text_field :num_componentes, :required => true, :placeholder => "Nº Componentes", :disabled => true, :style => 'width: 120px'

          .actions
            = link_to("", :class => 'btn', :onclick => "$('#submit_grupo_#{grupo.id}').click()", :remote => true) do
              ="Guardar"
            = f.submit "", :style => 'display:none' ,:id => "submit_grupo_#{grupo.id}"
          
            = link_to(grupo_path(grupo), :method => :delete, :class => 'btn', :confirm => "¿Desea eliminar el objeto?", :style => 'float:right') do
              ="Eliminar"