#right_column.right_column
  %h2= "Formulario para Nuevos Alumnos"

  = form_for(@tribunal) do |f|
    %p
      = f.label :lugar_examen, "Lugar del Examen"
      = f.text_field :lugar_examen, :placeholder => "Lugar del examen"


    = link_to("", :class => 'btn', :onclick => "$('#submit_tribunal').click()", :remote => true) do
      ="Guardar"

    = f.submit "", :style => 'display:none' ,:id => 'submit_tribunal'
