#right_column_for_alumnos.right_column.overflow
  %h2= "Modificacion de Tribunales"

  .box_for_modificar
    - for tribunal in @tribunals
      = form_for(tribunal) do |f|
        .box_fila
          .space_label= f.label :id, "Nº Tribunal"
          = f.text_field :id, :placeholder => "Nº Tribunal", :disabled => true
        .box_fila
          .space_label= f.label :lugar_examen, "Lugar"
          = f.text_field :lugar_examen, :required => true, :placeholder => "Lugar del Examen"
        .box_fila
          .space_label= f.label :num_componentes, "Componentes"
          = f.text_field :num_componentes, :placeholder => "Nº Componentes", :disabled => true
        
        .actions
          = link_to("", :class => 'btn', :onclick => "$('#submit_alumno_#{tribunal.id}').click()", :remote => true) do
            ="Guardar"
          = f.submit "", :style => 'display:none' ,:id => "submit_alumno_#{tribunal.id}"
        
          = link_to(tribunal_path(tribunal), :method => :delete, :class => 'btn', :confirm => "¿Desea eliminar el objeto?", :style => 'float:right') do
            ="Eliminar"