#right_column_for_listados.right_column.overflow
  %h2="Profesores con los TFG que dirige cada uno"

  %table.table_fow_window_in_holder
    %tr
      %th="Nombre"
      %th="Alumno tutelado"
      %th="Trabajo Fin de Grado"
    -for profesor in Profesor.all
      - if !profesor.alumno.blank?
        %tr
          %td="#{profesor.nombre} #{profesor.apellidos}"
          %td="#{profesor.alumno.nombre} #{profesor.alumno.apellidos}"
          %td="#{profesor.alumno.tfg ? profesor.alumno.tfg.tema : nil}"
          