%div{:style => 'margin-top:50px;'}
.login_form

  .initial_text="Inicio de sesi칩n para TFC Manager 3.1"
  = form_for(:session, url: sessions_path, html: {style: 'margin: 0px;'}) do |f|
    %table
      %tr
        %td
          %label Nombre
        %td
          = text_field_tag :nombre, nil, :class => 'default_field', :onkeypress => "submitOnEnter(this, event);", :placeholder => 'Nombre'
      %tr
        %td
          %label Contrase침a
        %td
          = password_field_tag :pass, nil, :class => 'default_field', :onkeypress => "submitOnEnter(this, event);", :placeholder => 'Contrase침a'

    %div{:style => 'float: right;'}
      = link_to("", :class => 'btn', :onclick => "$('#input_new_session').click()", :remote => true) do
        ="OK"

      = f.submit "", :style => 'display:none' ,:id => 'input_new_session'
      
    .clearfix

.help_login
  .text_help{:id => 'help_p'}="Ayuda"

  :javascript
    $('#help_p').click(function() {
      alert("Nombre: 'roberto'\nContrase침a: 'roberto'")
      })