%html
  %head
    %title TFG Manager
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "/js/jquery-ui-1.10.3.custom.js"
    = csrf_meta_tags
    = favicon_link_tag('favicon.ico', :rel => 'shortcut icon')
  %body
    = render :partial => 'application/app_flash'
    = yield

    - if false
      :javascript
        deselect();